
.zoom {
  transition: transform .2s; /* Animation */
  width: 100%;
  margin: 0 auto;
}


.zoom_container {
  width:20%;
  overflow: hidden;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
  overflow:hidden;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
